# database config
# DATABASE_URI=postgresql://demo:demo@database:5432/core
DATABASE_URI=sqlite:///test.db
POSTGRES_HOST=database
POSTGRES_PORT=5432
DATABASE=postgres

POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=core

SECRET_KEY=aosfoaiusfo134034afdaoifdiuaosif
